canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/*

    this is for the text of the webpage

*/


@import url('https://fonts.googlesapis.com/css2?family=DM+Serif+Display&display=swap');

main {
    color: white;
    z-index: 99;
    /*font-family: 'DM Serif Display', serif;*/
    position: absolute;
}
#section1 {
    font-size: 200%;
    text-align: center;
}

div.hstack {
    display:flex;
    overflow: auto;
}


.hidden {
    opacity: 1;
    transform: translateX(100%);
    transition: all 2s; 
}
/*
.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}
*/
